
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.status{

}
.green{
  color: green;
}
.red{
  color: darkred;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #3f729b;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
body{
  /*background-color: #7E46FF;*/
  background-color: #53A7FF;
  /*font-size: 100%;*/
  font-family: 'Lato', sans-serif;
}
.special-width{
  width:77em;
}
.col-centered{
  float: none;
  margin: 0 auto;
}
.rounded {
  border-radius: 10px;
}
.testchannels{
  padding: 0;
}
.channel{
  color: white;
  width: 12em;
  height: 12em;
  padding: 0;
  border: 0.2em solid white;
  margin: 0.2em;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #464646;
  overflow: hidden;
  position: relative;
}
.logo{
  float: left;
}
.logo img{
  height: 32px;
  width: 32px;
}
.name{
  color: dimgrey;
  float: left;
}
.bio{
  /*color: #FF46DA;*/
  font-size: small;
}
.status{
  position: absolute;
  bottom: 0;
}
.url{

}
#maintitle{
  font-size: 5em;
  /*font-weight: 100;*/
  font-family: 'Lato', sans-serif;
}
.pure-drawer ul > li{
  text-transform: uppercase;
}

a:focus, a:hover {
  color: #C9C9C9;
  text-decoration: underline;
}

.channel > input{
  color: #0D3349;
}
