
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.green{
  color: #00ba00;
}
.red{
  color: darkred;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #3f729b;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
body{
  background-color: #7E46FF;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-size: 116%;
  font-family: 'Lato', sans-serif;
}
.special-width{
  width:97em;
}
.col-centered{
  float: none;
  margin: 0 auto;
}
.rounded {
  border-radius: 10px;
}
.testchannels{
  padding: 0;
}
.online{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #7E46FF;
}
#onlinechannels ul{
  list-style: none;
}
.unavailable{
  background-color: #3b7cbc !important;
  border: 0.2em solid #53A7FF !important;
}
.channel{
  background-color: #53A7FF;
  color: white;
  width: 14em;
  height: 10em;
  padding: 0;
  border: 0.2em solid white;
  margin: 0.8em;
  border-radius: 7px;
  box-shadow: 2px 2px 4px #464646;
  overflow: hidden;
  position: relative;
}
.channel_form{
  color: white;
  width: 12em;
  height: 6em;
  padding: 0;
  border: 0.4em solid white;
  margin: 0.2em;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #464646;
  overflow: hidden;
  position: relative;
}
.logo{
  float: left;
  z-index: 50;
}
.logo img{
  height: 1.7em;
  width:  1.7em;
}
.name{
  text-transform: uppercase;
  float: left;
  z-index: 4;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.bio{
  font-size: 1.0em;
  margin: 0.4em;
}
.channel_status{
  position: absolute;
  bottom: 0;
  text-align: center;
}
.status{
  position: absolute;
  bottom: 0;
}
.status_online{
  text-transform: uppercase;
  background-color: dimgrey;
  padding-right:0;
  padding-left:0;
}
.url{

}
#maintitle{
  font-size: 5em;
  font-family: 'Lato', sans-serif;
}
.pure-drawer ul > li{
  text-transform: uppercase;
  font-size: 1.25em;
}

a:focus, a:hover {
  color: #C9C9C9;
  text-decoration: underline;
}

.channel > input{
  color: #0D3349;
}

#searchElement{
  padding-left: 0;
}
#about{
  font-size: 2em;
}
#instructionDiv{
  font-size: 1.5em;
}
#twitch_glyph{
  font-size: 0.8em;
}